body {
	font-family: monospace;
	background-color: white;
	overflow-x: hidden;
}
#titulo {
	text-align: center;
	color: var(--terciary);
	text-shadow: 0px 0px 10px #000;
	margin-top: 20px;
	font-size: 2.05em;
	font-weight: normal;
	height: min-content;
	margin: none !important;
}
#titulo h1{
	border-bottom: 10px solid var(--primary);
	margin: none !important;

}
.galeria-container {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--primary);
}
.galeria-itens {
	width: calc(100vw - 4rem);
	height: auto;
	display: flex;
	flex-wrap: wrap;

}

.item-container {
	width: 50%;
	height: 300px;
	padding: .5rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.item-container .img {
	overflow: hidden;
	border-left: 5px solid var(--secondary);
	border-top: 5px solid var(--secondary);
	border-bottom: 5px solid var(--secondary);
}

.item-container .img img{
	max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
	width: 100%;
	height: 100%;
}

.item-container .img:hover .item{
	-moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);


}

.item-container .item-titulo {
	border-left: 5px solid var(--secondary);
	border-right: 5px solid var(--secondary);
	border-top: 5px solid var(--secondary);
	border-bottom: 5px solid var(--secondary);
}


.item-titulo .titulo {
	width: 100%;
	height: 100%;
	padding: 1rem;
	padding-top: 2rem;

	display: flex;
	flex-direction: column;
	align-items: center;

	color: var(--terciary);

	background: radial-gradient(var(--background) 90%, var(--secondary));
}
.item-titulo .titulo span{
	font-size: 15px;
	padding-top: 1rem;
	color: var(--primary);
}
