body {
	background-image: url(./../../../src/assets/login_Wallpaper2.jpg);
	background-attachment: fixed;
	background-size: cover;
}

main {
	width: 100%;
	min-height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main #login {
	width: 80%;
	height: 100%;
	background: #fff;
	border-radius: 15px;
	margin: 3rem 0;
	padding: 1.5rem;
}

main #login form {
	width: 100%;
	height: 100%;
	padding: 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

main #login form header {
	width: 100%;
	height: auto;
	background: none;
	box-shadow: none;
	text-align: center;
	color: var(--secondary);
	margin: none;
	padding: none;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main #login form header h3 {
	font-size: 35px;
	font-weight: bolder;
}

main #login form fieldset {
	width: 100%;
	border: none;
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
}

main #login form fieldset label {
	font-size: 20px;
	color: var(--background);
	margin-bottom: 10px;
}

main #login form fieldset input {
	width: 100%;
	font-size: 20px;
	border: none;
	border-bottom: 2px solid var(--primary);
	padding-left: 10px;
}

main #login form .no-styles {
	display: flex;
}

main #login form fieldset input:focus::placeholder {
	visibility: hidden;
}

main #login form .field-inline {
	width: 100%;
	display: flex;
	flex-direction: row;
}

main #login form .field-inline fieldset {
	padding: 1rem;
}

.btn {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.btn button {
	padding: 10px;
	color: var(--text-color);
	border-radius: 5%;
	border: 3px solid;
	cursor: pointer;
	transition: 0.3s;

	margin: 1rem;
}

.btn button:hover {
	opacity: 0.7;
}

.btn button:first-child {
	background: var(--terciary);
	border-color: var(--terciary);
}

.btn .rotate {
	transform: rotate(-180deg);
}

.btn button:last-child {
	background: var(--primary);
	border-color: var(--primary);
}

.acces-denied {
	animation: no-no 300ms linear, fade paused;
}

.hidden {
	display: none;
}

.show {
	display: flex;
}

.price {
	display: none !important;
}

.show-price {
	display: flex;
}

@keyframes no-no {
	0% {
		transform: translateX(0);
	}

	35% {
		transform: translateX(-15%) rotate(-5deg);
	}

	70% {
		transform: translateX(15%) rotate(5deg);
	}

	100% {
		transform: translateX(0);
	}
}

.red-placeholder::placeholder {
	color: var(--terciary);
}

.pseudo {
	border: none !important;
}

.pseudo-field {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 2px solid var(--primary);
}

#btn-pass {
	margin-right: 20px;
	cursor: pointer;
}

#btn-pass i::before {
	font-size: 30px;
	color: var(--background);
}

.no-visible::before {
	content: "\f070";
	font-family: FontAwesome;
}

@media screen and (max-width: 600px) {
	body {
		overflow-x: hidden;
		overflow-y: scroll;
	}

	main {
		width: 100%;
		min-height: 500px;
	}

	main #login {
		width: 80%;
		height: 80%;
		padding-bottom: 2rem;
	}
}

@media screen and (min-height: 1000px) {
	main #login {
		width: 80%;
	}

	main #login form fieldset label,
	main #login form fieldset input {
		font-size: 30px;
	}

	#btn button {
		font-size: 45px;
	}
}
